<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBP STAMP</title>
</head>
<body>
    <h1>Sello para CBP</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="text">Texto a añadir:</label><br>
        <textarea id="text" name="text" rows="3" cols="30"></textarea><br><br>
        <label for="pdf_file">Selecciona un archivo PDF:</label>
        <input type="file" id="pdf_file" name="pdf_file" accept="application/pdf"><br><br>
        <button type="submit">Subir y Modificar PDF</button>
    </form>
</body>
</html>
